/* font-family: 'Patrick Hand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Yellowtail', cursive; */

.container {
  width: 960px;
  position: relative;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
}

header > p {
  font-family: sans-serif;
  font-size: 12px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 800;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18px;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

p.subline {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  color: rgb(148, 148, 148);
}

.main-recipe {
  width: 700px;
}

.author > p {
  font-size: 18px;
}

.author > h3 {
  font-size: 20px;
}

footer > p {
  color: rgb(148, 148, 148);
}

li {
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}