/* font-family: 'Patrick Hand', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Yellowtail', cursive; */

* {
  background-color: aqua;
}

.container {
  box-sizing: content-box;
  width: 960px;
  padding-left: 120px;  
  padding-right: 120px;
}

.logo {
  margin: 60px 0 0 0;
  display: inline;
  box-sizing: content-box;

}

h1 {
  font-family: 'Yellowtail', cursive;
  font-weight: bold;
  font-size: 23pt;
  display: inline;
  position: absolute;
  top: 60px;
}

header > p {
  font-family: sans-serif;
  font-size: 6pt;
  display: inline;
}

.social-media {
  display: inline;
  margin-left: 320px;
}

.social-media > img {
  margin: 0 -2px 10px -1px;
}

.ruler {
  position: relative;
  box-sizing: content-box;
  font-family: sans-serif;
  font-size: 8pt;
  margin: 36px 0 50px 0;
  width: 700px;
  font-weight: lighter;
  text-align: justify;
  letter-spacing: .1px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40pt;
  font-weight: 700;
  margin: 10px 0;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 18pt;
  outline: dotted 2px magenta;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 10pt;
  text-indent: 2pc;
  margin-bottom: 1.5pc;
  letter-spacing: 100%;
}

p.subline {
  font-family: 'Oswald', sans-serif;
  font-size: 12pt;
  color: rgb(148, 148, 148);
  text-indent: 0;
  font-weight: 200;
  display: inline;
}

img.print {
  position: absolute;
  left: 760px;
}

button.print {
  position: absolute;
  left: 785px;
  color: rgb(148, 148, 148);
  font-size: 9pt;
  font-weight: 200;
  padding: 0;
  border: 0;
}

div {
  height: 20px;
}

.main-recipe {
  width: 700px;
  outline: dotted 2px magenta;
  margin: 26px 0 0 0;
  line-height: 125%;
  color: rgb(95, 95, 95);
}

.author > p {
  font-size: 18pt;
}

.author > h3 {
  font-size: 20pt;
}

footer > p {
  color: rgb(148, 148, 148);
}

li {
  font-family: 'Patrick Hand', cursive;
  font-size: 18pt;
}